.cdx-list-label {
  font-style: italic;
  padding: 2px 8px;
  padding-left: 5px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: -3px;
  font-size: 12px;
  font-family: sans-serif;
  word-break: keep-all;

  &:hover {
    cursor: pointer;
  }

  &__green {
    background: #f4ffe7;
    color: #86b724;
  }

  &__red {
    background: #fdf2f1;
    color: #e66161;
  }
  &__warn {
    background: #fef7e9;
    color: #eea564;
  }
  &__default {
    background: #f0f5f9;
    color: #70777c;
  }
}

.cdx-checklist__item--checked .cdx-checklist__item-text {
  text-decoration: line-through;
}

.cdx-list {
  padding: 1.2em 0;
  &__item {
    display: flex;
    align-items: baseline;
    box-sizing: content-box;
    position: relative;
    width: 100%;

    &-text {
      font-size: 15px;
      outline: none;
      flex-grow: 1;
      padding: 10px 0;
      color: #526c73;
      word-break: break-all;
    }
    &-unorder-prefix {
      position: relative;
      margin-right: 26px;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #09aac1;
        border-radius: 50%;
        top: -8px;
        left: 0;
      }
    }
    &-order-prefix {
      color: #09aac1;
      margin-right: 20px;
      font-size: 15px;
    }
    &-prefix-index {
      width: 6px;
      height: 6px;
      background: #09aac1;
      border-radius: 50%;
      margin-right: 24px;
    }
  }
}

.cdx-checklist {
  &__item {
    display: flex;
    align-items: baseline;
    box-sizing: content-box;
    position: relative;

    &-text {
      outline: none;
      flex-grow: 1;
      padding: 10px 0;
      color: #526c73;
      word-break: break-all;
    }

    &-bracket {
      svg {
        fill: #6a8f94;
      }
    }

    &-bracket-right {
      svg {
        fill: #6a8f94;
        margin-left: 10px;
      }
    }

    &-check-sign {
      outline: none;
      svg {
        fill: #6a8f94;
        width: 15px;
        height: 15px;
        margin-left: 1px;
        opacity: 0;

        &:hover {
          opacity: 0.3;
        }
      }
    }

    &-check-sign-active {
      height: 16px !important;
      width: 16px !important;
      background: #6e8f94 !important;
      border: 1px solid #6e8f94;
      svg {
        opacity: 1;
        fill: white;
        &:hover {
          opacity: 1;
        }
      }
    }

    &-checkbox {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      user-select: none;
      border: 1px solid #bccfd2;
      border-radius: 100%;
      height: 14px;
      width: 14px;

      &:hover {
        border-color: #b5b5b5;
      }
    }
  }
}

.label-popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;

  &-input {
    width: 120px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.2;
    background-image: none;
    border: none;
    margin-top: 6px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &__green {
      background: #f4ffe7;
      color: #86b724;
    }

    &__red {
      background: #fdf2f1;
      color: #e66161;
    }
    &__warn {
      background: #fef7e9;
      color: #eea564;
    }
    &__default {
      background: #f0f5f9;
      color: #70777c;
    }
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    margin: 8px 0;
    &-spot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.4;
      position: relative;

      &--active svg {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 3px;
        left: 2px;
        fill: white;
      }

      &__green {
        background: #86b724;
      }
      &__red {
        background: #e66161;
      }
      &__warn {
        background: #eea564;
      }
      &__default {
        background: #70777c;
      }
    }
  }
}

.label-selector-spot {
  width: 20px;
  height: 20px;
  background: #87b762;
  border-radius: 50%;
  margin-right: 10px;
}

.cdx-setting-button-rotate {
  transform: rotate(180deg);
}

.cdx-list-indent-1 {
  margin-left: 30px;
  width: calc(100% - 30px);
}

.cdx-list-indent-2 {
  margin-left: 60px;
  width: calc(100% - 60px);
}

.cdx-list-indent-3 {
  margin-left: 90px;
  width: calc(100% - 90px);
}

.cdx-list-indent-4 {
  margin-left: 120px;
  width: calc(100% - 120px);
}

.cdx-list-indent-5 {
  margin-left: 150px;
  width: calc(100% - 150px);
}

.cdx-list__item {
  &:hover .cdx-list-drag-icon {
    opacity: 0.8;
  }
}

.cdx-checklist__item {
  &:hover .cdx-list-drag-icon {
    opacity: 0.8;
  }
}

.cdx-list-drag-icon {
  position: absolute;
  left: -22px;
  top: 14px;
  opacity: 0;

  &:hover {
    opacity: 1;
    cursor: grab;
  }

  svg {
    fill: #89979c;
  }

  transition: opacity 0.3s;
}

.cdx-list-drag-over {
  border-bottom: 3px solid #eff2f5;
}

.cdx-list-drag-start {
  opacity: 0.6;
  border-bottom: 1px solid #eff2f5;
  padding-left: 10px;
}
